ul{
    list-style-type:none;
    display:flex;
    background-color: #000;
    border:1px solid #000;
}
.list-item{
    padding:.7em .9em;
    font-size:1.2rem;
    cursor:pointer;
    color:#fff;
}
.active{
    background-color: #fff;
    color:#000;
}
